@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Lato:wght@300;400&display=swap');

/* Fade-in animation after user clicks arrow from home page */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*fade up animation for h1*/
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#mainHeader {
  animation: fadeUp 1s ease-in-out;
}


/*Global style for entire page*/
body {
  font-family: 'Lato', sans-serif; 
  margin: 0;
  padding: 0;
  background: #e6e6e6;
  color: #333;
  animation: fadeIn 1s ease-in-out;
}

/*h1*/
header #mainHeader {
  font-size: 6.5rem;
  color: #2a2a2a; 
  padding-top: 5rem; 
  padding-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}


/*hides h1 on 'view details page'*/
.details-view header,
.details-view .container.mb-4 {
  display: none;
}

/* Gallery cards */
.card {
  margin-top: 1.2rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}

/*while hovering over card, slightly make it lift*/
.card:hover {
  transform: translateY(-0.3rem);
}

/*image inside card*/
.card img {
  width: 100%;
  height: 18rem; 
}

/*card title*/
.card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  display: none; 
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/*shows image title when hovering*/
.card:hover .card-title {
  display: block; /* Show on hover */
}

/*hide card description*/
.card-text {
  display: none;
}

/*removes padding from the card body */
.card {
  position: relative; /* Add relative positioning to the card */
}

.card-body {
  padding: 0; /* Remove padding from the card body */
}

/*card with preview images */
.card-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(131, 120, 168, 0.862);
  color: rgb(255, 255, 255);
  display: none; /* Hide by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.card:hover .card-details {
  display: flex; /* Show on hover */
}
 
/*'view details' button*/
.view-details-btn {
  background-color: #e9e9e9;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  text-decoration: none;
  margin-top: 1rem;
}


/*back button on 'view details' page*/
#backBtn {
  width: 12rem;
  margin-top: 3rem;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-color: #e9e9e9;
}


/*hover function on back button on 'view details' page*/
#backBtn:hover {
  background-color: #837fca;
}

/*'view details' button paddig*/
.details-container {
  padding: 2rem;
}

/*border of container holding preview image in 'view details' page*/
.details-container .img-fluid {
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  height: auto;
}

/*large heading in 'view details page'*/
.details-container h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/*description on 'view details' page*/
.details-container p {
  font-size: 1.1rem;
  line-height: 1.6;
}

/*'view details' page - list of info*/
.details-container .list-group-item {
  border: none;
  padding-left: 0;
  font-size: 1.3=8rem;
  background-color: rgba(255, 255, 255, 0);
}

/*'apply filters' button*/
#applyFilters {
  background-color: #837fca; /* A desaturated blue */
  border: 1px solid #000000;
  border-radius: 1rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 0.5rem 1rem;
  text-transform: uppercase; /* All caps for a classic feel */
  box-shadow: inset 0 -0.09rem 0 rgba(0,0,0,0.15); /* Inner shadow */
  transition: background-color 0.2s ease-in-out;
  margin-left: 1rem;
}

/*'apply filters' button when hovered over*/
#applyFilters:hover {
  background-color: #357abd; /* A slightly darker blue on hover */
}

/* Custom styles for the filter bar */
.container.mb-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* filter bar container */
.container {
  padding-bottom: 2rem;
}

/*all dropdowns*/
.form-select {
  border: 0.09rem solid #000000;
  border-radius: 12px;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: rgb(46, 46, 46);
}

/*cards when hovered*/
.form-select:hover,
.form-select:focus {
  border-color: rgba(100, 93, 155, 0.808);
  background-color: rgba(139, 117, 193, 0.424);
  box-shadow: 0 0 1rem rgba(88, 88, 88, 0.15)
}

#back-to-top {
  position: fixed;
  bottom: 50%;
  right: 1.4rem;
  width: 2.5rem;
  height: 2.4rem;
  background-color: #000000;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 2.4rem;
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
  z-index: 1000;
}


.details-container .row {
  display: flex;
  flex-wrap: wrap;
}

.details-image-col {
  flex: 1 1 40%;
  padding-right: 2rem;
}

.details-text-col {
  flex: 1 1 60%;
}

.image-container {
  width: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

/*credits for university*/
#info-panel .credits {
  font-size: 0.8rem;
  color: #6c757d;
  text-align: center;
  margin-top: 18rem;
}

/*information button in top right*/
#info-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #2d0070;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}

/*information button panel in top right*/
#info-panel {
  position: fixed;
  top: 0;
  right: -350px; /* Start off-screen */
  width: 20rem;
  height: 100%;
  background-color: #f8f9fa;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1001;
}

/*information button panel when opened in top right*/
#info-panel.open {
  right: 0; /* Slide in */
}

/*information button when closed in top right*/
#close-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  text-decoration: none;
  color: #333;
}
#info-panel h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  align-items:center;
}

#info-panel p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

#info-panel .btn-primary {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 0.5rem 0.2rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}

#info-panel .btn-primary:hover {
  background-color: #3a5196;
  color: #ffffff;
}

/*title of card on 'view details' page*/
.details-text-col h2 {
  font-size: 3rem;
}

/*description on 'view details' page*/
.details-text-col P {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/*details on 'view details page'*/ 
.details-text-col .list-group-item strong { 
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

/*list of details (i.e date, country etc.) on 'view details' page*/
.details-text-col .list-group-item {
  font-family: 'Lato', sans-serif;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0);
}


